#section-search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 5px solid rgb(30,30,30);
    padding : 1.3%;
}
#section-search-bar>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section-search-bar h2{
    margin-right: 10px;
    color:rgb(158,158,158)
}

#fermer{
    color: rgb(255, 204, 64);
    background-color: rgb(30,30,30);
    padding:15px;
    border: 1px solid rgb(30,30,30);

}
  
#fermer:active {
background: rgb(18,18,18);
-webkit-box-shadow: inset 0px 0px 5px rgb(30,30,30);
    -moz-box-shadow: inset 0px 0px 5px rgb(30,30,30);
        box-shadow: inset 0px 0px 5px rgb(30,30,30);
    outline: none;
}

#piece div, #regroupement div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(255,255,255);
    background-color: rgb(30,30,30);
    padding:20px;
    margin:30px;
}

#piece span, #regroupement span{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#piece span .champs, #regroupement span .champs{
    background-color: rgb(18,18,18);
    padding:5px;
    margin-left:5px;
    color:rgb(158,158,158);
}

.champs-bar{
    padding:10px;
    background-color:rgb(30,30,30);
}

#principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(30,30,30);
    margin:30px;
}

#principal div{
    display: flex;
    flex-direction: column;
    color:rgb(255,255,255);
    padding:20px;
    width: 33%;
}