#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding : 20px;
}
#search-bar>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin : 0px 50px 0px 50px;
}

textarea{
    resize: none;
}
h2{
    color : white;
}
