/***********Style du clavier***********/

*{
    margin: 0;
    padding: 0;
}
body {
    font: 71%/1.5 Verdana, Sans-Serif;
}
#write {
    margin: 0 0 5px;
    font: 12px Segoe UI;
    background: #fff;
    resize: none;
}
#block-keyboard{
    background-color:RGB(30, 30, 30);
    width : 1260px; height: 450px; /*Taille du clavier*/
    margin: auto; /*Centrage du clavier*/
}
#keyboard {
    margin: 0;
    padding: 20px;
    background-color: RGB(30, 30, 30);
    list-style: none;
}
#keyboard li { /*Toutes les touches du clavier*/
    padding: 21px 0px;
    text-align: center;
    font-size: 25px;
    background: RGB(18, 18, 18);
    color:RGB(255, 204, 64);
    border: 1px solid RGB(53, 53, 53);
}/*
#keyboard li:hover { 
    position: relative;
    background: RGB(30, 30, 30);
    cursor: pointer;
}
#keyboard li:active { 
    background: RGB(30, 30, 30);
    border: 1px dashed RGB(53, 53, 53);
    top: 2px;
    left: 2px;
}*/
#keyboard .main { /*Toutes les lettres*/
    float: left;
    margin: 0px 30px 20px 0px;
    width: 80px;
}
#keyboard .lastline { /*Dernière ligne du clavier*/
    margin-left: 223px;
}
#keyboard #hide { /*Bouton cacher*/
    padding: 16px 0px;
    margin-top: 220px;
    font-size: 30px;
}
#keyboard .delete { /*Bouton supprimer caractère*/
    padding: 10px 0px;
    font-size: 40px;
}
.lastitem {
    margin-right: 0;
    width: 90px;
    display: inline-block;
}