<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Legrand {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://first-link.fr/wp-content/uploads/2020/10/legrand.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/fullscreen.js"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav id="nav-general">
        <ul>    
            <li id="icon-home"> <i class="material-icons"><a href="/">home</a></i> </li>
            <li class="onglet-standard kb"> KB : GH01004AA </li>
            <li class="onglet-standard"> FDI : GH01004AA </li>
            <li class="onglet-standard cpp"><a href="cpp">CPP : GH01004AA</a></li>
            <li id="fullscreen" onclick="toggleFullScreen(document.body)"><i class="material-icons">fullscreen</i></li>
            {% if route == '/' %}
                <style>
                    #icon-home{
                        background-color: rgb(30,30,30);
                        border-bottom:5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
            {% if route =='/clavier' %}
                <style>
                    .kb{
                        background-color: rgb(30,30,30);
                        border-bottom:5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
            {% if route =='/cpp' %}
                <style>
                    .cpp{
                        background-color: rgb(30,30,30);
                        border-bottom:5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
</body>
</html>