<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Legrand {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://first-link.fr/wp-content/uploads/2020/10/legrand.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
    <nav id="nav-general">
        <ul>
            <li id="icon-home"> <img src="media/home.png" alt="home"/> </li>
            <br id="underline">
            <li class="onglet-standard"> KB : GH01004AA </li>
            <li class="onglet-standard"> FDI : GH01004AA </li>
        </ul>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>


</body>
</html>