<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Legrand {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://first-link.fr/wp-content/uploads/2020/10/legrand.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>

<body>
    <nav id="nav-general">
        <ul>
            <li id="icon-home"> <i class="material-icons">home</i> </li>
            <li class="onglet-standard kb"> KB : GH01004AA </li>
            <li class="onglet-standard"> FDI : GH01004AA </li>

            {% if rout == '/' %}
                <style>
                    #icon-home{
                        background-color: rgb(30,30,30);
                    }
                </style>
            {% elseif rout=='/clavier' %}
                <style>
                    .kb{
                        background-color: rgb(30,30,30);
                    }
                </style>
            {% endif %}

        </ul>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>