<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Legrand{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://www.tecma-electrique.com/wp-content/uploads/2020/07/Legrand.jpg">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        
    {% endblock %}
</head>
<body>
    <h1> THE hello world </h1>
    {% block body %}

    {% endblock %}
</body>

</html>
