<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Legrand {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://first-link.fr/wp-content/uploads/2020/10/legrand.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/fullscreen.js"></script>
    <script src="https://kit.fontawesome.com/1674ea8fa5.js" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav id="nav-general">
        <ul>    
            <li id="icon-home"><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="onglet-standard kb"> KB : GH01004AA </li>
            <li class="onglet-standard"> FDI : GH01004AA </li>
            <li class="onglet-standard imp"><a href="implantometre"> IMP : GH01004AA </a></li>
            <li class="onglet-standard cpp"><a href="cpp"> CPP : GH01004AA </a></li>
            <li id="fullscreen" onclick="toggleFullScreen(document.body)"> <i class="fas fa-expand"></i> </li>
            {% if route == '/' %}
                <style>
                    #icon-home{
                        background-color: rgb(30,30,30);
                        border-bottom: rgb(255, 204, 64) 5px solid;
                    }
                </style>
            {% endif %}
            {% if route =='/clavier' %}
                <style>
                    .kb{
                        background-color: rgb(30,30,30);
                        border-bottom:5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
            {% if route =='/cpp' %}
                <style>
                    .cpp{
                        background-color: rgb(30,30,30);
                        border-bottom:5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
            {% if route == '/implantometre' %}
                <style>
                    .imp{
                        background-color: rgb(30,30,30);
                        border-bottom: 5px solid rgb(255, 204, 64);
                    }
                </style>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block body %}
        {% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
</body>
</html>