{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/cpp-style.css">
{% endblock %}

{% block body %}

<!--Barre de recherche-->
    <section id="section-search-bar">
        <div>
            <h2>Site de gestion</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>CDA</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>Référence</h2>
            <textarea id="write"></textarea>
        </div>
    </section>

    
{% endblock %}

