{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/cpp-style.css">
{% endblock %}

{% block body %}

<!--Barre de recherche-->
    <section id="section-search-bar">
        <div>
            <h2>Site de gestion</h2>
            <h2 class="champs-bar">CHABANAIS</h2>
        </div>
        <div>
            <h2>CDA</h2>
            <h2 class="champs-bar">0173</h2>
        </div>
        <div>
            <h2>Référence</h2>
            <h2 class="champs-bar">GH01004AA</h2>
        </div>
        <div>
            <button href="# "id="fermer">FERMER</button>
        </div>
    </section>

        <section id="principal">
            <div>
                <h2>Conditionnement utilisé : <br> CAISSETTE 600 x 400 x 200</h2>
            </div>
            <div>
                <h2>Quantité par contenant : 230</h2>
                <h2>Poids contenant garni : 6,300kg</h2>
                <h2>Poids contenant vide : 2,100kg</h2>
                <h2>Poids logistique par pièce : 27,391kg</h2>
            </div>
            <div>
                <h2>Conditionnement principal</h2>
                <h2>Regroupement : en vrac</h2>
                <h2>Volume pièce brut : 0,209 dm3</h2>
            </div>
    </section>



    <section id="piece">
        <div>
            <span>
                <h2>Quantité de pièces en hauteur :</h2>
            </span>
            <span>
                <h2>sur largeur :</h2>
            </span>
            <span>
                <h2>sur longueur :</h2>
            </span>   
            <span>
                <h2>intercalaire :</h2>
                <h2 class="champs">aucun</h2>
            </span>
        </div>
    </section>

    <section id="regroupement">
        <div>
            <span>
                <h2>Regroupement:</h2>
                <h2 class="champs">SKATE(S)</h2>
            </span>
            <span>
                <h2>Quantité de contenant par regroupement :</h2>
                <h2 class="champs">6</h2>
            </span>
            <span>
                <h2>Nombre de pièces par regroupement</h2>
                <h2 class="champs">1380</h2>
            </span>
        </div>
    </section>

    
{% endblock %}

