{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
    <link rel="stylesheet" type="text/css" href="css/keyboard-style.css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/keyboard.js"></script>
    <script src="https://kit.fontawesome.com/1674ea8fa5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <!--Barre de recherche-->
    <section id="search-bar">
        <div>
            <h2>Site de gestion</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>CDA</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>Référence</h2>
            <textarea id="write"></textarea>
        </div>
    </section>

    <!--Menu des documents-->
    <section id="navDoc-bar">
        <ul>
            <div class="block-nav">
                <li class="documentName"> Carte Kanban </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche Techniques de Moulage et Branchement </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Conditionnement Composant </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Conditionnement Produit Fini </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche d'instructions </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Mode Opératoire </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Implantomètre </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche de Vérification </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Dérogation de Production</li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav lastElement">
                <li class="documentName"> Contrôle Renforcé Production </li>
                <p class="nbDocument">3</p>
            </div>
        </ul>
    </section>

    <!--Clavier-->
    <section id="clavier">
        <div id="block-keyboard">
            <ul id="keyboard">
                <li class="main bouton">1</li>
                <li class="main bouton">2</li>
                <li class="main bouton">3</li>
                <li class="main bouton">4</li>
                <li class="main bouton">5</li>
                <li class="main bouton">6</li>
                <li class="main bouton">7</li>
                <li class="main bouton">8</li>
                <li class="main bouton">9</li>
                <li class="main bouton">0</li>
                <li class="main bouton">A</li>
                <li class="main bouton">Z</li>
                <li class="main bouton">E</li>
                <li class="main bouton">R</li>
                <li class="main bouton">T</li>
                <li class="main bouton">Y</li>
                <li class="main bouton">U</li>
                <li class="main bouton">I</li>
                <li class="main bouton">O</li>
                <li class="main bouton">P</li>
                <li class="main bouton">Q</li>
                <li class="main bouton">S</li>
                <li class="main bouton">D</li>
                <li class="main bouton">F</li>
                <li class="main bouton">G</li>
                <li class="main bouton">H</li>
                <li class="main bouton">J</li>
                <li class="main bouton">K</li>
                <li class="main bouton">L</li>
                <li class="main bouton">M</li>
                <li class="main bouton lastline">W</li> <!--Repère pour la dernière ligne du clavier-->
                <li class="main bouton">X</li>
                <li class="main bouton">C</li>
                <li class="main bouton">V</li>
                <li class="main bouton">B</li>
                <li class="main bouton">N</li>
                <li class="bouton lastitem delete"><i class="fas fa-backspace"></i></li> <!--Bouton supprimer un caractère-->
                <li class="bouton lastitem" id="hide"><i class="fas fa-chevron-down"></i></li> <!--Bouton cacher clavier-->
            </ul>
        </div>
    </section>

{% endblock %}
