{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
{% endblock %}

{% block body %}

    <section id="search-bar">
        <div>
            <h2>Site de gestion</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>CDA</h2>
            <select>
                <option></option>
                <option> XXX </option>
                <option> YYY </option>
            </select>
        </div>
        <div>
            <h2>Référence</h2>
            <textarea></textarea>
        </div>
    </section>

    <section id="navDoc-bar">
        <ul>
            <div class="block-nav">
                <li class="documentName"> Carte Kanban </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche Techniques de Moulage et Branchement </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Conditionnement Composant </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Conditionnement Produit Fini </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche d'instructions </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Mode Opératoire </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Implantomètre </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Fiche de Vérification </li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav">
                <li class="documentName"> Dérogation de Production</li>
                <p class="nbDocument">3</p>
            </div>
            <div class="block-nav lastElement">
                <li class="documentName"> Contrôle Renforcé Production </li>
                <p class="nbDocument">3</p>
            </div>
        </ul>
    </section>

{% endblock %}
