{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/home-style.css">
{% endblock %}

{% block body %}

    <section id="search-bar">
        <div>
            <h2>Site de gestion</h2>
            <textarea></textarea>
        </div>
        <div>
            <h2>CDA</h2>
            <textarea></textarea>
        </div>
        <div>
            <h2>Référence</h2>
            <textarea></textarea>
        </div>

    </section>

{% endblock %}
