{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/implantometre-style.css">
{% endblock %}


{% block body %}
<section id="section-bar">
    <div>
        <h2>Site de gestion</h2>

            <h2> XXX </h2>

    </div>
    <div>
        <h2>CDA</h2>

            <h2> XXX </h2>
    </div>

    <div>
        <h2>Référence</h2>
        <h2>COO25SF</h2>
    </div>

    <div>
        <button>FERMER</button>
    </div>
</section>


<div id="corp">
    <section id="block-info">
    <h1>INFORMATIONS</h1>
        <h2>Numero d'op : XXXXXXXX</h2>
        <h2>Titre : XXXXXXXX</h2>
        <h2>Numéro de fiche : XXXXXXXX </h2>
    </section>

    <section id="pdf">
        <embed src="./media/PetitTheoRR.pdf#toolbar=0&navpanes=0&scrollbar=0" type='application/pdf' />
    </section>
</div>


{% endblock %}
