{% extends 'base.html.twig' %}

{% block body %}
    <button>Généré un onglet</button>

  

    {% for resultat in resultats %}
      <p> {{ resultat.IdGlb }}  </p>
      <p> {{ resultat.IdLocal_doc }} </p>
    {% endfor %}
   
{% endblock %}


{% block javascripts %}
{% endblock %}




